{
  "plugins": [
    "@babel/plugin-transform-sticky-regex",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-shorthand-properties"
  ]
}
/*
    
*/
