/* Tiny.css library! */
:root {
  --box-shadow: #0001;
}
.initial-styles {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-shadow-focus:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--box-shadow);
}
.transition-bg.transition-shadow {
  transition-property: background-color, color, box-shadow;
}

.button {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background: #333;
  border-radius: 10px;
}
.button:hover {
  background: white;
  color: #333;
}
.button_success {
  background-color: rgb(21, 163, 21)
}
.button_success:hover {
  background-color: rgb(16, 116, 16);
  color: white;
}