/* Tiny.css library! */
:root {
  --box-shadow: #0001;
  --success-color-hover: rgb(16,116,16);
  --success-color: rgb(21,163,16);
}
/* Initial styles */
.initial-styles {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Box shadows and soon more general stylings */
.box-shadow-focus:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--box-shadow);
}
.box-shadow-hover:hover {
  box-shadow: 0 0 0 5px var(--box-shadow);
}
/* Transition effects */
.transition-bg {
  transition-property: background-color;
}
.transition-shadow {
  transition-property: var(--box-shadow);
}
.transition-bg.transition-shadow {
  transition-property: background-color, color, box-shadow;
}

.transition-slow {
  transition-duration: 3s;
}
.transition-medium {
  transition-duration: .5s;
}
.transition-fast {
  transition-duration: .3s;
}
.transition-ease {
  transition-property: ease;
}
.transition-bounce {
  transition-property: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* Button styling */
.button {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background: #333;
  border-radius: 10px;
}
.button:disabled, .button.disabled {
  opacity: .5;
}
.button:hover {
  background: white;
  color: #333;
}
.button.success {
  background-color: var(--success-color)
}
.button.success:hover {
  background-color: var(--success-color-hover);
  color: white;
}
